.Scroll{
  --translate: 0;
  display: flex;
  align-items: flex-start;
  transition: translateX 0.5s;
  transform: translateX(calc(var(--translate, 0) * 1%));
  &__page{
    min-width: 40px;
    width: 100%;
    min-height: 20px;
    flex: 0 0 auto;
    box-sizing: border-box;
  }
}
