.Clock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
  background: linear-gradient(to bottom, darkblue, black);

  transform: translateY(calc(var(--verticalTranslate, 0) * 1px));
}
