.Clock{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  background: linear-gradient(to bottom, darkblue, black);
  &__huge_container{
    user-select: none;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
