.Notepad{
  $padding: 1.2em;
  padding-top: $padding;

  max-height: 100vh;
  background-color: #003500;
  display: flex;
  flex-direction: column;
  gap: 2em;
  &__text_list{
    align-self: center;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.68em;
    margin-bottom: $padding*2;
    user-select: none;

    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
