:root {
  background-color: black;
}
.App {
  --translate: -10;
    width: 100%;
    height: 100%;
  &__container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  &__scroll {
    display: flex;
    align-items: flex-start;
    transition: all 0.5s;
    transform: translateX(calc(var(--translate, 0) * 1%));
  }
  &__page {
    --content-shift: -40;
    width: 100%;
    min-height: 40px;
    max-height: 100vh;
    background-color: darkkhaki;
    flex: 0 0 auto;
    box-sizing: border-box;
    border: 1px red solid;
  }
  &__huge_content {
    transition: all 0.5s;
    transform: translateY(calc(var(--content-shift, 0) * 1%));
    width: 100%;
    height: 4000px;
    background: linear-gradient(
      to bottom,
      red 20%,
      orange 20% 40%,
      yellow 40% 60%,
      green 60% 80%,
      blue 80%
    );
  }
}
